.card-section {
    border: 2px solid black;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background-color: rgba(233, 94, 94, 0.4);
}

.break-section {
    margin: 10px 0 10px 0;
}

.col-lg-12 {
    height: 100%;
    padding: 10px;
}

.col-lg-4 {
    padding: 10px;
}

.container-fluid {
    background-color: hsla(359, 37%, 65%, 1.00);
    background-image: -webkit-repeating-linear-gradient(270deg, rgba(184, 163, 171, 1.00) 0%, rgba(255, 144, 144, 1.00) 100%);
    background-image: -moz-repeating-linear-gradient(270deg, rgba(184, 163, 171, 1.00) 0%, rgba(255, 144, 144, 1.00) 100%);
    background-image: -o-repeating-linear-gradient(270deg, rgba(184, 163, 171, 1.00) 0%, rgba(255, 144, 144, 1.00) 100%);
    background-image: repeating-linear-gradient(180deg, rgba(184, 163, 171, 1.00) 0%, rgba(255, 144, 144, 1.00) 100%);
    text-decoration: none;

}

.bottom-panal {
    margin-bottom: 20px;
}