@charset "utf-8";
.container-fluid {
    background-color: hsla(359,37%,65%,1.00);
    background-image: -webkit-repeating-linear-gradient(270deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    background-image: -moz-repeating-linear-gradient(270deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    background-image: -o-repeating-linear-gradient(270deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    background-image: repeating-linear-gradient(180deg,rgba(184,163,171,1.00) 0%,rgba(255,144,144,1.00) 100%);
    text-decoration: none;

}
body p {
}
